body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.painel {
  height: 500px;
  width: 800px;
  background-color: #fff;
  border: 1px solid #000;
}

.seletores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
