body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel {
  /* min-height: 500px; */
  width: 800px;
  background-color: #fff;
  border: 1px solid #000;
}

.seletores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.tabela {
  display: none;
}
